
<div style="width: 100%;">
    
        <footer id="main-footer" class="py-4 bg-primary text-white text-center">
            
            
                <!-- <i class="fas fa-suitcase fa-4x mr-4"></i> -->
                
                <h3>Renting & Selling</h3>
                <p>Our drive is to make renting and renting out your beautiful room easy and fun. We aim to serve 
                        everyone be it a full house in the high, low or medium density surbubs. Be it a room in the above
                        mentioned surbub types here you are catered for. 
                        Wish to know more about us kindly get in touch with our operations manager authurlunga@gmail.com
                </p>
              
                  Copyright &copy;
                  <span class="year">2021</span> Roomza.com
        </footer>
        
    </div>


 