
<div style="width: 100%;">
    
        <footer id="main-footer" class="py-4 bg-primary text-white text-center">
            
            
                <!-- <i class="fas fa-suitcase fa-4x mr-4"></i> -->
                
                <h3>Renting & Selling</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
                  hic dignissimos ratione ea quae.</p>
              
                  Copyright &copy;
                  <span class="year">2020</span> Roomza.com
        </footer>
        
    </div>


 