{% load static %}
<div class="container">
                <span id="rateMe4"  class="feedback"><span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star" ></span>
                <span class="fa fa-star"></span></span>
              </div>
              <style>
                .checked {
                        color: orange;
                }
                </style>
              
              <!-- rating.js file -->
              <script src="{% static 'js/main.js'%}"></script>
      
      <!-- rating.js file -->
      <!-- <script src="js/addons/rating.js"></script> -->